@import "tailwindcss";

@theme {
  --font-sans: 'Marianne', 'Arial', sans-serif;
}

@font-face {
  font-family: 'Marianne';
  src: url('/fonts/Marianne-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Marianne';
  src: url('/fonts/Marianne-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

body {
  background-color: #f3f4f6;
  color: #1f2937;
}